@page
@model TISA.Pages.Game.IndexModel

<p>Welcome to the game <player-name />. Please choose one of the following options</p>
<a asp-page="Quests/Index" class="btn btn-outline-primary btn-block">Go to quests</a>
<a asp-page="PlayerInformation/Index" class="btn btn-outline-primary btn-block">Player information</a>
<a asp-page="Shop/Index" class="btn btn-outline-primary btn-block">Visit shop</a>
<a asp-page="Achievements/Index" class="btn btn-outline-primary btn-block">Achievements</a>