@page
@model Admin.IndexModel
<h1>Administrator</h1>

<a class="btn btn-outline-primary btn-block" asp-page="./Quests/Index">Go to quests</a>
<a class="btn btn-outline-primary btn-block" asp-page="./Items/Index">Go to items</a>
<a class="btn btn-outline-secondary btn-block" asp-page="../Index">Go to game</a>
