@page
@model Admin.IndexModel
<h1>Administrator</h1>

<a class="btn btn-outline-primary btn-block" asp-page="./Quests/Index">Go to quests</a>
<a class="btn btn-outline-primary btn-block" asp-page="./Items/Index">Go to items</a>
<a class="btn btn-outline-secondary btn-block" asp-page="../Index">Go to game</a>
<hr />
<h2>External services</h2>
<a class="btn btn-outline-primary btn-block" target="_blank" href="http://localhost:7100">Message Broker</a>
<a class="btn btn-outline-primary btn-block" target="_blank" href="http://localhost:7200">Seq (Logging)</a>
<a class="btn btn-outline-primary btn-block" target="_blank" href="https://localhost:7401">Player Service</a>
<a class="btn btn-outline-primary btn-block" target="_blank" href="https://localhost:7501">Quest Service</a>
<a class="btn btn-outline-primary btn-block" target="_blank" href="https://localhost:7601">Achievement Service</a>
<a class="btn btn-outline-primary btn-block" target="_blank" href="https://localhost:7701">Item Service</a>
