@page
@model TISA.Pages.Game.FinishModel
@{
    ViewData["Title"] = "Finish";
}

<h1>You won!</h1>
<p>There are no more quests to complete!</p>
<div style="display: flex; justify-content: center;">
    <iframe src="https://giphy.com/embed/iJNPHYaQLInp6" width="480" height="357" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
<a asp-page="../Index" class="btn btn-outline-secondary btn-block">Return to menu</a>
